*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #2f7336, #aa3a38);
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  height: 70vh;
  width: 60vw;
  background: white;
  margin-top: 15vh;
  margin-left: 20vw;
}

h1{
  padding-top: 20vh;
  padding-left: 15vw;
  font-size: 40px;
  font-weight: 400;
}

h2{
  padding-top: 3vh;
  padding-left: 15vw;
  font-size: 35px;
  font-weight: 400;
  color: rgb(117, 109, 109);
}

.demo{
  display: flex;
}

.calculate input{
  margin-left: 15vw;
  margin-top: 3vh;
  height: 7vh;
  width: 10vw;
  font-size: 20px;
}

.reset button{
  margin-top: 3vh;
  background: #4b7bec;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  height: 7vh;
  width: 9vw;
}

.reset .btn{
  width: 6vw;
  margin-left: 10px;
}

.result{
  margin-left: 15vw;
  font-size: 28px;
  margin-top: 20px;
}